html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Oxanium', cursive;
  background-color: rgb(196, 215, 238);  
  height: 100%;
}
#__next {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
